In [ ]:
import  numpy as np
import pandas as pd

In [ ]:
tips_path="/content/drive/MyDrive/tips.csv"

In [ ]:
tips_df=pd.read_csv(tips_path)
tips_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

GET ALL Columns

In [ ]:
tips_df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
tips_df.index

RangeIndex(start=0, stop=244, step=1)

In [ ]:
col=list(tips_df.columns)
col

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [ ]:
col=list(tips_df.columns)+['good']
col

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'good']

In [ ]:
tips_df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

Statistical summary

In [ ]:
tips_df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Display top 2 rows and bottom 10 rows

In [ ]:
tips_df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [ ]:
tips_df.tail(10)

     total_bill   tip     sex smoker   day    time  size
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

Find total numbers of records

In [ ]:
tips_df.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [ ]:
len(tips_df)

244

Check data type of each columns

In [ ]:
type(tips_df.loc[0:])

pandas.core.frame.DataFrame

In [ ]:
tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [ ]:
tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

Check if any columns contains nulll value

In [ ]:
tips_df.isnull()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [ ]:
tips_df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

Find Total  bill amount

In [ ]:
tips_df['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [ ]:
tips_df['total_bill'].sum()

4827.77

In [ ]:
# np.sum(tips_df['total_bill'].value)

In [ ]:
tips_df.loc[:,"total_bill"].sum()

4827.77

Find average tip amount and group size

In [ ]:
tips_df['tip'].mean()

2.9982786885245902

In [ ]:
tips_df['size'].mean()

2.569672131147541

In [ ]:
np.mean(tips_df['tip'])

2.9982786885245902

In [ ]:
np.mean(tips_df['size'])

2.569672131147541

Find maximum amount of tip amount

In [ ]:
tips_df['tip'].max()

10.0

In [ ]:
tips_df['tip'].min()

1.0

find maximum group size and bill amount

In [ ]:
tips_df['total_bill'].min()

3.07

In [ ]:
tips_df['total_bill'].max()

50.81

Find Total number of male and female customers

In [ ]:
tips_df['sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

In [ ]:
tips_df.isin(['Female'])

     total_bill    tip    sex  smoker    day   time   size
0         False  False   True   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False   True   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False   True   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False   True   False  False  False  False

[244 rows x 7 columns]

In [ ]:
tips_df.isin(['Female']).sum()

total_bill     0
tip            0
sex           87
smoker         0
day            0
time           0
size           0
dtype: int64

In [ ]:
tips_df.groupby("sex").size()

sex
Female     87
Male      157
dtype: int64

In [ ]:
tips_df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [ ]:
tips_df.isin(['Female','Male']).sum()

total_bill      0
tip             0
sex           244
smoker          0
day             0
time            0
size            0
dtype: int64

Find total_bill by time and sex

In [ ]:
tips_df.groupby('time').sum()

        total_bill     tip  size
time
Dinner     3660.30  546.07   463
Lunch      1167.47  185.51   164

In [ ]:
tips_df.groupby('sex').sum()

        total_bill     tip  size
sex
Female     1570.95  246.51   214
Male       3256.82  485.07   413

()=use only on function
[]=indexing

find the row with maximum tip value

In [ ]:
# tips_df=tips_df['tip'].max()
# # tips_df

In [ ]:
# tips_df[tips_df['tip']==tips_df['tip'].max()].groupby("sex").sum()

In [ ]:
tips_df.groupby('sex').max()

        total_bill   tip smoker   day   time  size
sex
Female       44.30   6.5    Yes  Thur  Lunch     6
Male         50.81  10.0    Yes  Thur  Lunch     6

In [ ]:
tips_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
tips_df['sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

In [ ]:
tips_df.groupby("sex")["tip"].max()

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [ ]:
tips_df.groupby("sex").max()

        total_bill   tip smoker   day   time  size
sex
Female       44.30   6.5    Yes  Thur  Lunch     6
Male         50.81  10.0    Yes  Thur  Lunch     6

In [ ]:
m_df=tips_df[tips_df['sex']=='Male']
m_df

     total_bill   tip   sex smoker  day    time  size
1         10.34  1.66  Male     No  Sun  Dinner     3
2         21.01  3.50  Male     No  Sun  Dinner     3
3         23.68  3.31  Male     No  Sun  Dinner     2
5         25.29  4.71  Male     No  Sun  Dinner     4
6          8.77  2.00  Male     No  Sun  Dinner     2
..          ...   ...   ...    ...  ...     ...   ...
236       12.60  1.00  Male    Yes  Sat  Dinner     2
237       32.83  1.17  Male    Yes  Sat  Dinner     2
239       29.03  5.92  Male     No  Sat  Dinner     3
241       22.67  2.00  Male    Yes  Sat  Dinner     2
242       17.82  1.75  Male     No  Sat  Dinner     2

[157 rows x 7 columns]

In [ ]:
m_df[m_df['tip']==m_df['tip'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
m_df[m_df['tip']==m_df['tip'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
f_df=tips_df[tips_df['sex']=='female']
f_df

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []

In [ ]:
f_df[f_df['tip']==f_df['tip'].max()]

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []